
  body{
    background-color: #FBF8F1;
  }

h1{
  color: #219F94;
}
h3{
    color: #219F94;
}
hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
